p {
  color: blue;
}

.text {
  color: green;
}

#intro {
  color: red;
}

.message {
  color: gray;
}

.card .message {
  color: orange;
}

.same-rule {
  color: brown;
}

.same-rule {
  color: purple;
}
